.task-list-item {
  list-style-type: none;
}

.task-list-item input[type="checkbox"] {
  margin-left: -1em;
  margin-right: 0.5em;
}

.link-grid .link-grid-container,
.link-grid .link-grid-container:hover {
  transform: none !important;
  transition: none !important;
  margin-top: 0 !important;
  top: auto !important;
  /* box-shadow: none !important; */
}

/* .link-grid .link-grid-container:hover {
  transform: none !important;
  margin: 0 !important;
  top: auto !important;
  left: auto !important;
  box-shadow: none !important;
  transition: none !important;
} */