.task-list-item {
  list-style-type: none;
}

.task-list-item input[type="checkbox"] {
  margin-left: -1em;
  margin-right: 0.5em;
}

.link-grid .link-grid-container,
.link-grid .link-grid-container:hover {
  transform: none !important;
  transition: none !important;
  margin-top: 0 !important;
  top: auto !important;
  /* box-shadow: none !important; */
}

/* .link-grid .link-grid-container:hover {
  transform: none !important;
  margin: 0 !important;
  top: auto !important;
  left: auto !important;
  box-shadow: none !important;
  transition: none !important;
} */

/* 让 NexT 主题下的代码块换行 */
.highlight .code pre {
  white-space: pre-wrap !important;   /* 保留缩进同时换行 */
  word-break: break-word !important;  /* 长单词可换行 */
  overflow-wrap: break-word !important;
}